@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" style="height: 100%; padding-top: 25%; padding-bottom: 25%;">
    <h4 class="title">Sistema de Gerenciamento de Licitação</h4>
</div>